/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#layout-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

/**
 * Common styles for shared components
 */

.grid-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.grid-container > span {
  font-weight: bold;
  margin-bottom: 3px;
}

.grid-container > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-container li {
  padding: 4px 0;
}

/**
 * Grid Container
 */

#layout-grid-container {
  display: flex;
  margin: 5px;
}

/**
 * Container when no grids are present
 */

.layout-no-grids {
  font-style: italic;
  text-align: center;
  padding: 0.5em;
}

/**
 * Grid Item
 */

.grid-item {
  display: flex;
  align-items: center;
}

.grid-item input {
  margin: 0 5px;
}

.grid-color-swatch {
  width: 12px;
  height: 12px;
  margin-left: 5px;
  border: 1px solid var(--theme-highlight-gray);
  border-radius: 50%;
  cursor: pointer;
}

.grid-color-value {
  display: none;
}
