/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "resource://devtools/client/shared/components/splitter/split-box.css";
@import "resource://devtools/client/shared/components/tree/tree-view.css";
@import "resource://devtools/client/shared/components/tabs/tabs.css";
@import "resource://devtools/client/shared/components/tabs/tabbar.css";

* {
  box-sizing: border-box;
}

.toolbar-labels {
  overflow: hidden;
  display: flex;
  flex: auto;
}

.devtools-toolbar-container {
  display: flex;
  justify-content: space-between;
}

.devtools-toolbar-group {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: nowrap;
  align-items: center;
}

#response-content-image-box {
  overflow: auto;
}

.cropped-textbox .textbox-input {
  /* workaround for textbox not supporting the @crop attribute */
  text-overflow: ellipsis;
}

:root.theme-dark {
  --table-splitter-color: rgba(255,255,255,0.15);
  --table-zebra-background: rgba(255,255,255,0.05);

  --timing-blocked-color: rgba(235, 83, 104, 0.8);
  --timing-dns-color: rgba(223, 128, 255, 0.8); /* pink */
  --timing-connect-color: rgba(217, 102, 41, 0.8); /* orange */
  --timing-send-color: rgba(70, 175, 227, 0.8); /* light blue */
  --timing-wait-color: rgba(94, 136, 176, 0.8); /* blue grey */
  --timing-receive-color: rgba(112, 191, 83, 0.8); /* green */

  --sort-ascending-image: url(chrome://devtools/skin/images/sort-arrows.svg#ascending);
  --sort-descending-image: url(chrome://devtools/skin/images/sort-arrows.svg#descending);
}

:root.theme-light {
  --table-splitter-color: rgba(0,0,0,0.15);
  --table-zebra-background: rgba(0,0,0,0.05);

  --timing-blocked-color: rgba(235, 83, 104, 0.8);
  --timing-dns-color: rgba(223, 128, 255, 0.8); /* pink */
  --timing-connect-color: rgba(217, 102, 41, 0.8); /* orange */
  --timing-send-color: rgba(0, 136, 204, 0.8); /* blue */
  --timing-wait-color: rgba(95, 136, 176, 0.8); /* blue grey */
  --timing-receive-color: rgba(44, 187, 15, 0.8); /* green */

  --sort-ascending-image: url(chrome://devtools/skin/images/sort-arrows.svg#ascending);
  --sort-descending-image: url(chrome://devtools/skin/images/sort-arrows.svg#descending);
}

:root.theme-firebug {
  --table-splitter-color: rgba(0,0,0,0.15);
  --table-zebra-background: rgba(0,0,0,0.05);

  --timing-blocked-color: rgba(235, 83, 104, 0.8); /* red */
  --timing-dns-color: rgba(223, 128, 255, 0.8); /* pink */
  --timing-connect-color: rgba(217, 102, 41, 0.8); /* orange */
  --timing-send-color: rgba(70, 175, 227, 0.8); /* light blue */
  --timing-wait-color: rgba(94, 136, 176, 0.8); /* blue grey */
  --timing-receive-color: rgba(112, 191, 83, 0.8); /* green */

  --sort-ascending-image: url(chrome://devtools/skin/images/firebug/arrow-up.svg);
  --sort-descending-image: url(chrome://devtools/skin/images/firebug/arrow-down.svg);
}

.request-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.request-list-empty-notice {
  margin: 0;
  padding: 12px;
  font-size: 120%;
}

.notice-perf-message {
  margin-top: 2px;
}

.requests-list-perf-notice-button {
  min-width: 30px;
  min-height: 26px;
  margin: 0 5px;
  vertical-align: middle;
}

.requests-list-perf-notice-button::before {
  background-image: url(images/profiler-stopwatch.svg);
}

.requests-list-reload-notice-button {
  font-size: inherit;
  min-height: 26px;
  margin: 0 5px;
}

/* Network requests table */

.requests-list-toolbar {
  display: flex;
  padding: 0;
}

.requests-list-filter-buttons {
  display: flex;
  flex-wrap: nowrap;
}

.theme-firebug .requests-list-toolbar {
  height: 19px !important;
}

.requests-list-contents {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  --timings-scale: 1;
  --timings-rev-scale: 1;
}

.requests-list-subitem {
  display: flex;
  flex: none;
  box-sizing: border-box;
  align-items: center;
  padding: 3px;
  cursor: default;
}

.subitem-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.requests-list-header {
  display: flex;
  flex: none;
}

.requests-list-header-button {
  display: flex;
  align-items: center;
  flex: auto;
  -moz-appearance: none;
  background-color: transparent;
  border-image: linear-gradient(transparent 15%,
                                var(--theme-splitter-color) 15%,
                                var(--theme-splitter-color) 85%,
                                transparent 85%) 1 1;
  border-style: solid;
  border-width: 0;
  border-inline-start-width: 1px;
  min-width: 1px;
  min-height: 24px;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-inline-start: 16px;
  padding-inline-end: 0;
  text-align: center;
  color: inherit;
  font-weight: inherit !important;
}

.requests-list-header-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.requests-list-header:first-child .requests-list-header-button {
  border-width: 0;
}

.requests-list-header-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.requests-list-header-button > .button-text {
  flex: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.requests-list-header-button > .button-icon {
  flex: none;
  height: 4px;
  margin-inline-start: 3px;
  margin-inline-end: 6px;
  width: 7px;
}

.requests-list-header-button[data-sorted=ascending] > .button-icon {
  background-image: var(--sort-ascending-image);
}

.requests-list-header-button[data-sorted=descending] > .button-icon {
  background-image: var(--sort-descending-image);
}

.requests-list-waterfall-label-wrapper {
  display: flex;
}

.requests-list-header-button[data-sorted],
.requests-list-header-button[data-sorted]:hover {
  background-color: var(--theme-selection-background);
  color: var(--theme-selection-color);
}

.requests-list-header-button[data-sorted],
.requests-list-header[data-active] + .requests-list-header .requests-list-header-button {
  border-image: linear-gradient(var(--theme-splitter-color), var(--theme-splitter-color)) 1 1;
}

/* Firebug theme support for Network panel header */

.theme-firebug .requests-list-header {
  padding: 0 !important;
  font-weight: bold;
  background: linear-gradient(rgba(255, 255, 255, 0.05),
                              rgba(0, 0, 0, 0.05)),
                              #C8D2DC;
}

.theme-firebug .requests-list-header-button {
  min-height: 17px;
}

.theme-firebug .requests-list-header-button > .button-icon {
  height: 7px;
}

.theme-firebug .requests-list-header-button[data-sorted] {
  background-color: #AAC3DC;
}

:root[platform="linux"].theme-firebug .requests-list-header-button[data-sorted] {
  background-color: #FAC8AF !important;
  color: inherit !important;
}

.theme-firebug .requests-list-header:hover:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1),
                                    transparent);
}


/* Network requests table: specific column dimensions */

.requests-list-status {
  max-width: 6em;
  text-align: center;
  width: 10vw;
}

.requests-list-method,
.requests-list-method-box {
  max-width: 7em;
  text-align: center;
  width: 10vw;
}

.requests-list-icon-and-file {
  width: 22vw;
}

.requests-list-icon {
  background: transparent;
  width: 15px;
  height: 15px;
  margin-inline-end: 4px;
}

.requests-list-icon {
  outline: 1px solid var(--table-splitter-color);
}

.requests-list-security-and-domain {
  width: 14vw;
}

.requests-security-state-icon {
  flex: none;
  width: 16px;
  height: 16px;
  margin-inline-end: 4px;
}

.request-list-item.selected .requests-security-state-icon {
  filter: brightness(1.3);
}

.security-state-insecure {
  background-image: url(chrome://devtools/skin/images/security-state-insecure.svg);
}

.security-state-secure {
  background-image: url(chrome://devtools/skin/images/security-state-secure.svg);
}

.security-state-weak {
  background-image: url(chrome://devtools/skin/images/security-state-weak.svg);
}

.security-state-broken {
  background-image: url(chrome://devtools/skin/images/security-state-broken.svg);
}

.security-state-local {
  background-image: url(chrome://devtools/skin/images/globe.svg);
}

.requests-list-type,
.requests-list-size {
  max-width: 6em;
  width: 8vw;
  justify-content: center;
}

.requests-list-transferred {
  max-width: 8em;
  width: 8vw;
  justify-content: center;
}

.requests-list-cause {
  max-width: 8em;
  width: 8vw;
}

.requests-list-cause-stack {
  background-color: var(--theme-body-color-alt);
  color: var(--theme-body-background);
  font-size: 8px;
  font-weight: bold;
  line-height: 10px;
  border-radius: 3px;
  padding: 0 2px;
  margin: 0;
  margin-inline-end: 3px;
  -moz-user-select: none;
}

.request-list-item.selected .requests-list-transferred.theme-comment {
  color: var(--theme-selection-color);
}

/* Network requests table: status codes */

.requests-list-status-code {
  margin-inline-start: 3px !important;
  width: 3em;
  margin-inline-end: -3em !important;
}

.requests-list-status-icon {
  background: #fff;
  height: 10px;
  width: 10px;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  border-radius: 10px;
  transition: box-shadow 0.5s ease-in-out;
  box-sizing: border-box;
}

.request-list-item.selected .requests-list-status-icon {
  filter: brightness(1.3);
}

.requests-list-status-icon:not([data-code]) {
  background-color: var(--theme-content-color2);
}

.requests-list-status-icon[data-code="cached"] {
  border: 2px solid var(--theme-content-color2);
  background-color: transparent;
}

.requests-list-status-icon[data-code^="1"] {
  background-color: var(--theme-highlight-blue);
}

.requests-list-status-icon[data-code^="2"] {
  background-color: var(--theme-highlight-green);
}

/* 3xx are triangles */
.requests-list-status-icon[data-code^="3"] {
  background-color: transparent;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--theme-highlight-lightorange);
  border-radius: 0;
}

/* 4xx and 5xx are squares - error codes */
.requests-list-status-icon[data-code^="4"] {
 background-color: var(--theme-highlight-red);
  border-radius: 0; /* squares */
}

.requests-list-status-icon[data-code^="5"] {
  background-color: var(--theme-highlight-pink);
  border-radius: 0;
  transform: rotate(45deg);
}

/* Network requests table: waterfall header */

.requests-list-waterfall {
  flex: auto;
  padding-inline-start: 0;
}

.requests-list-waterfall-label-wrapper:not(.requests-list-waterfall-visible) {
  padding-inline-start: 16px;
}

.requests-list-timings-division {
  padding-top: 2px;
  padding-inline-start: 4px;
  font-size: 75%;
  pointer-events: none;
  box-sizing: border-box;
  text-align: start;
  /* Allow the timing label to shrink if the container gets too narrow.
   * The container width then is not limited by the content. */
  flex: initial;
}

.requests-list-timings-division:not(:first-child) {
  border-inline-start: 1px dashed;
}

.requests-list-timings-division:-moz-locale-dir(ltr) {
  transform-origin: left center;
}

.requests-list-timings-division:-moz-locale-dir(rtl) {
  transform-origin: right center;
}

.theme-dark .requests-list-timings-division {
  border-inline-start-color: #5a6169 !important;
}

.theme-light .requests-list-timings-division {
  border-inline-start-color: #585959 !important;
}

.requests-list-timings-division[data-division-scale=second],
.requests-list-timings-division[data-division-scale=minute] {
  font-weight: 600;
}

/* Network requests table: waterfall items */

.requests-list-subitem.requests-list-waterfall {
  padding-inline-start: 0;
  padding-inline-end: 4px;
  /* Background created on a <canvas> in js. */
  /* @see devtools/client/netmonitor/netmonitor-view.js */
  background-image: -moz-element(#waterfall-background);
  background-repeat: repeat-y;
  background-position: left center;
}

.requests-list-subitem.requests-list-waterfall:-moz-locale-dir(rtl) {
  background-position: right center;
}

.requests-list-timings {
  display: flex;
  flex: none;
  align-items: center;
  transform: scaleX(var(--timings-scale));
}

.requests-list-timings:-moz-locale-dir(ltr) {
  transform-origin: left center;
}

.requests-list-timings:-moz-locale-dir(rtl) {
  transform-origin: right center;
}

.requests-list-timings-total:-moz-locale-dir(ltr) {
  transform-origin: left center;
}

.requests-list-timings-total:-moz-locale-dir(rtl) {
  transform-origin: right center;
}

.requests-list-timings-total {
  display: inline-block;
  padding-inline-start: 4px;
  font-size: 85%;
  font-weight: 600;
  white-space: nowrap;
  /* This node should not be scaled - apply a reversed transformation */
  transform: scaleX(var(--timings-rev-scale));
}

.requests-list-timings-box {
  display: inline-block;
  height: 9px;
}

.theme-firebug .requests-list-timings-box {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2));
  height: 16px;
}

.requests-list-timings-box.blocked {
  background-color: var(--timing-blocked-color);
}

.requests-list-timings-box.dns {
  background-color: var(--timing-dns-color);
}

.requests-list-timings-box.connect {
  background-color: var(--timing-connect-color);
}

.requests-list-timings-box.send {
  background-color: var(--timing-send-color);
}

.requests-list-timings-box.wait {
  background-color: var(--timing-wait-color);
}

.requests-list-timings-box.receive {
  background-color: var(--timing-receive-color);
}

/* SideMenuWidget */
#network-table .request-list-empty-notice,
#network-table .request-list-container {
  background-color: var(--theme-body-background);
}

.request-list-item {
  display: flex;
  border-top-color: transparent;
  border-bottom-color: transparent;
  padding: 0;
}

.request-list-item.selected {
  background-color: var(--theme-selection-background);
  color: var(--theme-selection-color);
}

.request-list-item:not(.selected).odd {
  background-color: var(--table-zebra-background);
}

.request-list-item:not(.selected):hover {
  background-color: var(--theme-selection-background-semitransparent);
}

.theme-firebug .request-list-item:not(.selected):hover {
  background: #EFEFEF;
}

.theme-firebug .requests-list-subitem {
  padding: 1px;
}

/* HTTP Status Column */
.theme-firebug .requests-list-subitem.requests-list-status {
  font-weight: bold;
}

/* Method Column */

.theme-firebug .requests-list-subitem.requests-list-method-box {
  color: rgb(128, 128, 128);
}

.request-list-item.selected .requests-list-method {
  color: var(--theme-selection-color);
}

/* Size Column */
.theme-firebug .requests-list-subitem.requests-list-size {
  justify-content: end;
  padding-inline-end: 4px;
}

/* Network details panel */

.network-details-panel-toggle[disabled] {
  display: none;
}

.network-details-panel-toggle:-moz-locale-dir(ltr)::before,
.network-details-panel-toggle.pane-collapsed:-moz-locale-dir(rtl)::before {
  background-image: var(--theme-pane-collapse-image);
}

.network-details-panel-toggle.pane-collapsed:-moz-locale-dir(ltr)::before,
.network-details-panel-toggle:-moz-locale-dir(rtl)::before {
  background-image: var(--theme-pane-expand-image);
}

/* Network request details tabpanels */

.theme-firebug .variables-view-scope:focus > .title {
  color: var(--theme-body-color);
}

/* Summary tabpanel */

.tabpanel-summary-container {
  padding: 1px;
}

.tabpanel-summary-label {
  display: inline-block;
  padding-inline-start: 4px;
  padding-inline-end: 3px;
  font-weight: 600;
}

.tabpanel-summary-value {
  color: inherit;
  padding-inline-start: 3px;
}

.theme-dark .tabpanel-summary-value {
  color: var(--theme-selection-color);
}

/* Headers tabpanel */

.headers-overview {
  background: var(--theme-toolbar-background);
}

/* Response tabpanel */

.response-error-header {
  margin: 0;
  padding: 3px 8px;
  background-color: var(--theme-highlight-red);
  color: var(--theme-selection-color);
}

.response-image-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 10px;
}

.response-image {
  background: #fff;
  border: 1px dashed GrayText;
  margin-bottom: 10px;
  max-width: 300px;
  max-height: 100px;
}

/* Timings tabpanel */

.timings-container {
  display: flex;
}

.timings-label {
  width: 10em;
}

.requests-list-timings-container {
  display: flex;
  flex: 1;
  align-items: center;
}

.requests-list-timings-offset {
  transition: width 0.2s ease-out;
}

.requests-list-timings-box {
  border: none;
  min-width: 1px;
  transition: width 0.2s ease-out;
}

.theme-firebug .requests-list-timings-total {
  color: var(--theme-body-color);
}

/* Security tabpanel */

/* Overwrite tree-view cell colon `:` for security panel and tree section */
.security-panel .treeTable .treeLabelCell::after,
.treeTable .tree-section .treeLabelCell::after {
  content: "";
}

/* Layout additional warning icon in tree value cell  */
.security-info-value {
  display: flex;
}

.security-warning-icon {
  background-image: url(images/alerticon-warning.png);
  background-size: 13px 12px;
  margin-inline-start: 5px;
  vertical-align: top;
  width: 13px;
  height: 12px;
}

@media (min-resolution: 1.1dppx) {
  .security-warning-icon {
    background-image: url(images/alerticon-warning@2x.png);
  }
}

/* Custom request view */

.custom-request-panel {
  height: 100%;
  overflow: auto;
  padding: 0 4px;
  background-color: var(--theme-sidebar-background);
}

.theme-dark .custom-request-panel {
  color: var(--theme-selection-color);
}

.custom-request-label {
  font-weight: 600;
}

.custom-request-panel textarea {
  resize: none;
  font: message-box;
}

.custom-header,
.custom-method-and-url,
.custom-request,
.custom-section {
  display: flex;
}

.custom-header {
  flex-grow: 1;
  font-size: 1.1em;
  padding-top: 4px;
}

.custom-section {
  flex-direction: column;
  margin-top: 0.5em;
}

.custom-method-value {
  width: 4.5em;
}

.custom-url-value {
  flex-grow: 1;
  margin-inline-start: 6px;
}

/* Performance analysis buttons */

.requests-list-network-summary-button {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background: none;
  box-shadow: none;
  border-color: transparent;
  padding-inline-end: 0;
  cursor: pointer;
  margin-inline-end: 1em;
  min-width: 0;
}

.requests-list-network-summary-button > .summary-info-icon {
  background-image: url(images/profiler-stopwatch.svg);
  filter: var(--icon-filter);
  width: 16px;
  height: 16px;
  opacity: 0.8;
}

.requests-list-network-summary-button > .summary-info-text {
  opacity: 0.8;
  margin-inline-start: 0.5em;
}

.requests-list-network-summary-button:hover > .summary-info-icon,
.requests-list-network-summary-button:hover > .summary-info-text {
  opacity: 1;
}

/* Performance analysis view */

.statistics-panel {
  display: flex;
  height: 100vh;
}

.statistics-panel .devtools-toolbarbutton.back-button {
  min-width: 4em;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border-top: none;
  border-bottom: none;
  border-inline-start: none;
}

.statistics-panel .splitter {
  border-color: rgba(0,0,0,0.2);
  cursor: default;
  pointer-events: none;
  height: 100%;
}

.statistics-panel .charts-container {
  display: flex;
  width: 100%;
}

.statistics-panel .charts,
.statistics-panel .pie-table-chart-container {
  width: 100%;
  height: 100%;
}

.pie-table-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistics-panel .pie-chart-container {
  margin-inline-start: 3vw;
  margin-inline-end: 1vw;
}

.statistics-panel .table-chart-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 240px;
  margin-inline-start: 1vw;
  margin-inline-end: 3vw;
}

.chart-colored-blob[name=html] {
  fill: var(--theme-highlight-bluegrey);
  background: var(--theme-highlight-bluegrey);
}

.chart-colored-blob[name=css] {
  fill: var(--theme-highlight-blue);
  background: var(--theme-highlight-blue);
}

.chart-colored-blob[name=js] {
  fill: var(--theme-highlight-lightorange);
  background: var(--theme-highlight-lightorange);
}

.chart-colored-blob[name=xhr] {
  fill: var(--theme-highlight-orange);
  background: var(--theme-highlight-orange);
}

.chart-colored-blob[name=fonts] {
  fill: var(--theme-highlight-purple);
  background: var(--theme-highlight-purple);
}

.chart-colored-blob[name=images] {
  fill: var(--theme-highlight-pink);
  background: var(--theme-highlight-pink);
}

.chart-colored-blob[name=media] {
  fill: var(--theme-highlight-green);
  background: var(--theme-highlight-green);
}

.chart-colored-blob[name=flash] {
  fill: var(--theme-highlight-red);
  background: var(--theme-highlight-red);
}

.table-chart-row {
  display: flex;
}

.table-chart-row-label[name=cached] {
  display: none;
}

.table-chart-row-label[name=count] {
  width: 3em;
  text-align: end;
}

.table-chart-row-label[name=label] {
  width: 7em;
  text-align: start;
}

.table-chart-row-label[name=size] {
  width: 7em;
  text-align: start;
}

.table-chart-row-label[name=time] {
  width: 7em;
  text-align: start;
}

.table-chart-totals {
  display: flex;
  flex-direction: column;
}

/* Firebug theme support for network charts */

.theme-firebug .chart-colored-blob[name=html] {
  fill: rgba(94, 136, 176, 0.8); /* Blue-Grey highlight */
  background: rgba(94, 136, 176, 0.8);
}

.theme-firebug .chart-colored-blob[name=css] {
  fill: rgba(70, 175, 227, 0.8); /* light blue */
  background: rgba(70, 175, 227, 0.8);
}

.theme-firebug .chart-colored-blob[name=js] {
  fill: rgba(235, 83, 104, 0.8); /* red */
  background: rgba(235, 83, 104, 0.8);
}

.theme-firebug .chart-colored-blob[name=xhr] {
  fill: rgba(217, 102, 41, 0.8); /* orange  */
  background: rgba(217, 102, 41, 0.8);
}

.theme-firebug .chart-colored-blob[name=fonts] {
  fill: rgba(223, 128, 255, 0.8); /* pink */
  background: rgba(223, 128, 255, 0.8);
}

.theme-firebug .chart-colored-blob[name=images] {
  fill: rgba(112, 191, 83, 0.8); /* pink */
  background: rgba(112, 191, 83, 0.8);
}

.theme-firebug .chart-colored-blob[name=media] {
  fill: rgba(235, 235, 84, 0.8); /* yellow */
  background: rgba(235, 235, 84, 0.8);
}

.theme-firebug .chart-colored-blob[name=flash] {
  fill: rgba(84, 235, 159, 0.8); /* cyan */
  background: rgba(84, 235, 159, 0.8);
}

/* Responsive sidebar */
@media (max-width: 700px) {
  #toolbar-spacer,
  .network-details-panel-toggle,
  .requests-list-network-summary-button > .summary-info-text {
    display: none;
  }

  .requests-list-toolbar {
    height: 22px;
  }

  .requests-list-header-button {
    min-height: 22px;
    padding-left: 8px;
  }

  .requests-list-status {
    max-width: none;
    width: 10vw;
  }

  .requests-list-status-code {
    width: auto;
  }

  .requests-list-method,
  .requests-list-method-box {
    max-width: none;
    width: 12vw;
  }

  .requests-list-icon-and-file {
    width: 22vw;
  }

  .requests-list-security-and-domain {
    width: 16vw;
  }

  .requests-list-cause,
  .requests-list-type,
  .requests-list-transferred,
  .requests-list-size {
    max-width: none;
    width: 10vw;
  }

  .requests-list-waterfall {
    display: none;
  }

  .statistics-panel .charts-container {
    flex-direction: column;
    /* Minus 4em for statistics back button width */
    width: calc(100% - 4em);
  }

  .statistics-panel .splitter {
    width: 100%;
    height: 1px;
  }
}

/* Platform overrides (copied in from the old platform specific files) */
:root[platform="win"] .requests-list-header-button > .button-box {
  padding: 0;
}

:root[platform="win"] .requests-list-timings-division {
  padding-top: 1px;
  font-size: 90%;
}

:root[platform="linux"] #headers-summary-resend {
  padding: 4px;
}

:root[platform="linux"] #toggle-raw-headers {
  padding: 4px;
}

/* Responsive sidebar */
@media (max-width: 700px) {
  :root[platform="linux"] .requests-list-header-button {
    font-size: 85%;
  }
}

.textbox-input {
  text-overflow: ellipsis;
  border: none;
  background: none;
  color: inherit;
  width: 100%;
}

.treeTable .textbox-input:focus {
  outline: 0;
  box-shadow: var(--theme-focus-box-shadow-textbox);
}

.panel-container,
.properties-view {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.properties-view .searchbox-section {
  flex: 0 1 auto;
}

.properties-view .devtools-searchbox {
  padding: 0;
}

.properties-view .devtools-searchbox input {
  margin: 1px 3px;
}

.tree-container {
  position: relative;
  height: 100%;
}

/* Make treeTable fill parent element and scrollable */
.tree-container .treeTable {
  position: absolute;
  display: block;
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Apply flex to table tbody in order to fill available vertical space */
.tree-container .treeTable tbody {
  display: flex;
  flex-direction: column;
  /* Apply flex to table will create an anonymous table element outside of tbody
   * See also http://stackoverflow.com/a/30851678
   * Therefore, we set height with this magic number in order to remove the
   * redundant scrollbar when source editor appears.
   */
  height: calc(100% - 4px);
}

.tree-container .treeTable tr {
  display: block;
}

/* Make right td fill available horizontal space */
.tree-container .treeTable td:last-child {
  width: 100%;
}

/* If there is a source editor shows up in the last row of TreeView,
 * it should occupy the available vertical space.
 */
.tree-container .treeTable .editor-row-container,
.tree-container .treeTable tr:last-child td[colspan="2"] {
  display: block;
  height: 100%;
}

.properties-view .devtools-searchbox,
.tree-container .treeTable .tree-section {
  width: 100%;
  background-color: var(--theme-toolbar-background);
}

.tree-container .treeTable tr.tree-section:not(:first-child) td:not([class=""]) {
  border-top: 1px solid var(--theme-splitter-color);
}

.properties-view .devtools-searchbox,
.tree-container .treeTable tr.tree-section:not(:last-child) td:not([class=""]) {
  border-bottom: 1px solid var(--theme-splitter-color);
}

.tree-container .treeTable .tree-section > * {
  vertical-align: middle;
}

.tree-container .treeTable .treeRow.tree-section > .treeLabelCell > .treeLabel,
.tree-container .treeTable .treeRow.tree-section > .treeLabelCell > .treeLabel:hover {
  color: var(--theme-body-color-alt);
}

.tree-container .treeTable .treeValueCell {
  /* FIXME: Make value cell can be reduced to shorter width */
  max-width: 0;
  padding-inline-end: 5px;
}

.headers-summary input:not([type="button"]) {
  width: 100%;
  background: none;
  border: none;
  color: inherit;
  margin-inline-end: 2px;
}

.headers-summary input:not([type="button"]):focus {
  outline: none;
  box-shadow: var(--theme-focus-box-shadow-textbox);
  transition: all 0.2s ease-in-out;
}

.headers-summary-label,
.tree-container .objectBox {
  white-space: nowrap;
}

.headers-summary,
.response-summary {
  display: flex;
  align-items: center;
}

.headers-summary .devtools-button {
  margin-inline-end: 6px;
}

.headers-summary .requests-list-status-icon {
  min-width: 10px;
}

.headers-summary .raw-headers-container {
  display: flex;
  width: 100%;
}

.headers-summary .raw-headers {
  width: 50%;
  padding: 0 4px;
}

.headers-summary .raw-headers textarea {
  width: 100%;
  height: 50vh;
  font: message-box;
  resize: none;
  box-sizing: border-box;
}

.headers-summary .raw-headers .tabpanel-summary-label {
  padding: 0 0 4px 0;
}

.empty-notice {
  color: var(--theme-body-color-alt);
  padding: 3px 8px;
}

.response-summary {
  display: flex;
}

.editor-container,
.editor-mount,
.panel-container iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.network-details-panel {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.split-box {
  overflow: hidden;
}

html,
body,
.root,
.network-monitor,
.monitor-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
